<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Example 1</title>
</head>
<body>
    <div class="alert alert-info">Counter!</div>
    <h1>Counter is at: {{counter}} </h1>
    <button class="btn btn-primary" (click)="countUp()">Count up!</button>
    <button class="btn btn-danger" (click)="countDown()">Count down!</button>
</body>
</html>