@font-face{
	font-family: efac;
	src: url("./earwig_factory/earwig.ttf") format("truetype");
}

body{
	color: black;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: efac;
	font-size: 5em;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content:center;
	align-items: center;
	min-height: 100vh;
}